
{% extends "user/base.html" %}
{% load custom_tags %}

{% block title %}
    <title>ADMIN Hompage</title>
{% endblock %}


{% block content %}
<style>
.jumbotron.jumbotron-fluid{
    text-align: center;
    background: none;
}
.lead{
    font-weight: 350;
    display: inline-grid;
    padding: 25px 30px 25px 30px;
}
</style>

<head>

    <!-- style css -->
    <link rel="stylesheet"  href="/static/user/admin-css/style.css">
    
    <!-- Tweaks for older IEs-->
</head>

{% load crispy_forms_tags %}

    <div class="section1light">
         <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    
                  </div>
                </div>
            </div>
        </div>
   </div>


   <div class="container">
    <div class="box_section">
       <div class="online_box">
          <div class="online_box_left">
             <a href="/userslist"><div class="online_box_main">
                <div class="box_left">
                   <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
                </div>
                <div class="box_right">
                   <p class="book_text">View</p>
                   <h4 class="appoinment_text">User List</h4>
                </div>
             </div></a>
          </div>
          <div class="online_box_left">
             <a href="/manage_help_post"><div class="online_box_main">
                <div class="box_left">
                   <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
                </div>
                <div class="box_right">
                   <p class="book_text">Manage</p>
                   <h4 class="appoinment_text">Help Post</h4>
                </div>
             </div></a>
          </div>
          <div class="online_box_left">
            <a href="/statistics"><div class="online_box_main">
               <div class="box_left">
                  <div class="right_arrow"><i class="fa fa-arrow-right"></i></div>
               </div>
               <div class="box_right">
                  <p class="book_text">Manage</p>
                  <h4 class="appoinment_text">Statistics</h4>
               </div>
            </div></a>
         </div>
       </div>
    </div>
 </div>

{% endblock %}
