{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    <title>-- BASE --</title>
    {% endblock %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/user/css-firstaid/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/magnific-popup.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/font-awesome.min.css">
        <link href="{% static 'user/leaflet.css' %}" rel="stylesheet"/>
    <link href="{% static 'user/marker/MarkerCluster.css' %}" rel="stylesheet"/>
    <link href="{% static 'user/marker/MarkerCluster.Default.css' %}" rel="stylesheet"/>


    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- MAIN CSS -->

    <link rel="stylesheet" href="/static/user/css-firstaid/templatemo-style.css">


</head>
<body>


<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            {% if user.is_authenticated %}
            <a href="/volunteer" class="navbar-brand">Disaster Recovery Website</a>
            {% else %}
            <a href="/" class="navbar-brand">Disaster Recovery Website</a>
            {% endif %}

        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Welcome, {{ user.username }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/volunteer">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Welcome, Guest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {% endif %}

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Maps</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/help_map">Help Map</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/help_need_list">Help Need List</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/first_aid">FirstAid</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Request Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my_requests">My Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/helped_archive">My Supports</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}

            </ul>
            {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="section-btn"><a href="/login" data-toggle="modal">Sign in</a></li>
                <li class="section-btn"><a href="/register" data-toggle="modal">Register</a></li>
            </ul>
            {% endif %}
        </div>

    </div>
</section>



<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</section>


<div class="container">
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}


{% block content %}
    <h1>replace me</h1>
{% endblock content %}


</div>


<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>Disaster Recovery Website</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Who are we?</h2>
                    <ul class="footer-link">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Services</h2>
                    <ul class="footer-link">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Provide</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-thumb">
                    <h2>Find us</h2>
                    <p>Sile, Istanbul, Turkey <br> Mesrutiyet, Isik University 34980</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023 Your Company</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+90) 0555 555 55 55</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- SCRIPTS -->

<script src="/static/user/js-first-aid/jquery.js"></script>
<script src="/static/user/js-first-aid/bootstrap.min.js"></script>
<script src="/static/user/js-first-aid/jquery.stellar.min.js"></script>
<script src="/static/user/js-first-aid/jquery.magnific-popup.min.js"></script>
<script src="/static/user/js-first-aid/smoothscroll.js"></script>
<script src="/static/user/js-first-aid/custom.js"></script>
<script src="{% static 'user/leaflet.js' %}"></script>
<script src="{% static 'user/marker/leaflet.markercluster.js' %}"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->

</body>
</html>