<!DOCTYPE html>
<html lang="en">
<head>

    <title>Disaster Project-First Aid</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/user/css-firstaid/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/magnific-popup.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/font-awesome.min.css">


    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- MAIN CSS -->

    <link rel="stylesheet" href="/static/user/css-firstaid/templatemo-style.css">


</head>
<body>


<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/" class="navbar-brand">Disaster Recovery Website</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Welcome, Guest</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Maps</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/help_map">Help Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help_need_list">Help Need List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/first_aid">FirstAid</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/volunteer">Volunteer</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

                {% else %}
                <li class="nav-item "><a class="nav-link {% if request.path == '/register' %} active {% endif %}"
                                         href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link {% if request.path == '/login' %} active {% endif %}"
                                        href="/login">Login</a></li>
                {% endif %}
            </ul>
            {% if not user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="section-btn"><a href="/login" data-toggle="modal">Sign in</a></li>
                <li class="section-btn"><a href="/register" data-toggle="modal">Register</a></li>
            </ul>
            {% endif %}
        </div>

    </div>
</section>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</ul>
{% endif %}



<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
{% block content %}

<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Let's Find Out</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="about-info skill-thumb">

                    <strong>Medic Kit</strong>
                    <span class="pull-right">85%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>

                    <strong>First Aid</strong>
                    <span class="pull-right">90%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>

                    <strong>Ambulance</strong>
                    <span class="pull-right">75%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>

                    <strong>AFAD</strong>
                    <span class="pull-right">70%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="about-image">
                    <img src="/static/user/images-firstaid/about-images.jpg" class="img-responsive" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
</div>
</div>
</section>


<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our Suggestions</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/work-image1.jpg" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Food</h3>
                            <small>Edible Package</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/house-image.jpg" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Shelter</h3>
                            <small>Tent & Hotel</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/gasoline-image.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Fuel</h3>
                            <small>Fuel Oil & Gasoline</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/medic-kit.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Help</h3>
                            <small>Medic Kit & Lamb</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}

<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>Disaster Recovery Website</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Who are we?</h2>
                    <ul class="footer-link">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Services</h2>
                    <ul class="footer-link">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Provide</a></li>
                        <li><a href="#">Donate</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-thumb">
                    <h2>Find us</h2>
                    <p>Sile, Istanbul, Turkey <br> Mesrutiyet, Isik University 34980</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2023 Your Company</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+90) 0555 555 55 55</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- SCRIPTS -->

<script src="/static/user/js-first-aid/jquery.js"></script>
<script src="/static/user/js-first-aid/bootstrap.min.js"></script>
<script src="/static/user/js-first-aid/jquery.stellar.min.js"></script>
<script src="/static/user/js-first-aid/jquery.magnific-popup.min.js"></script>
<script src="/static/user/js-first-aid/smoothscroll.js"></script>
<script src="/static/user/js-first-aid/custom.js"></script>

</body>
</html>