<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    {% block title %}
        <title>- Base -</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'user/bootstrap.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'user/leaflet.css' %}" rel="stylesheet"/>
    <link href="{% static 'user/marker/MarkerCluster.css' %}" rel="stylesheet"/>
    <link href="{% static 'user/marker/MarkerCluster.Default.css' %}" rel="stylesheet"/>


</head>
<body>

<script src="{% static 'user/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user/leaflet.js' %}"></script>
<script src="{% static 'user/marker/leaflet.markercluster.js' %}"></script>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5f5f5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Disaster Recovery Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Maps</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/help_map">Help Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help_need">I Need Help</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Voluteer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Provide Food</a></li>
                            <li><a class="dropdown-item" href="#">Provide Shelter</a></li>
                            <li><a class="dropdown-item" href="#">Provide Transportation</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item "><a class="nav-link {% if request.path == '/register' %} active {% endif %}"
                                             href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/login' %} active {% endif %}"
                                            href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
<div class="container mt-5">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, Guest</a>
            </li>
        {% endif %}
    {% endblock content %}
</div>

</body>
</html>