<!DOCTYPE html>
{% extends "user/base.html" %}
<html lang="en">
<head>
{% block title %}
    <title>First Aid</title>
{% endblock %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/static/user/css-firstaid/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/magnific-popup.css">
    <link rel="stylesheet" href="/static/user/css-firstaid/font-awesome.min.css">


    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- MAIN CSS -->

    <link rel="stylesheet" href="/static/user/css-firstaid/templatemo-style.css">


</head>
<body>


<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>



{% block content %}


<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>Your safety is first majority to us.</h1>
                    <a href="https://www.youtube.com/watch?v=UFvL7wTFzl0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW"
                       class="btn section-btn smoothScroll"> Learn Full First Aid Kit</a>
                    <span>
                                   CALL US (+90) 112
                                   <small>For any injury</small>
                              </span>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/f2_oj5toBlI" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Let's Find Out</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>Stay calm and call for help immediately. Assess the situation and ensure your safety. Check the person's responsiveness and breathing. If they are unresponsive or not breathing, begin CPR. If there is severe bleeding, apply direct pressure. Keep the person comfortable and reassure them help is on the way</p>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="about-info skill-thumb">

                    <strong>Medic Kit</strong>
                    <span class="pull-right">85%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>

                    <strong>First Aid</strong>
                    <span class="pull-right">90%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>

                    <strong>Ambulance</strong>
                    <span class="pull-right">75%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>

                    <strong>AFAD</strong>
                    <span class="pull-right">70%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="about-image">
                    <img src="/static/user/images-firstaid/about-images.jpg" class="img-responsive" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
</div>
</div>
</section>


<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our Suggestions</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/work-image1.jpg" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Food</h3>
                            <small>Edible Package</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/house-image.jpg" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Shelter</h3>
                            <small>Tent & Hotel</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/gasoline-image.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Fuel</h3>
                            <small>Fuel Oil & Gasoline</small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <a href="#" class="image-popup">
                        <img src="/static/user/images-firstaid/medic-kit.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Provide Help</h3>
                            <small>Medic Kit & Lamb</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}




<!-- SCRIPTS -->

<script src="/static/user/js-first-aid/jquery.js"></script>
<script src="/static/user/js-first-aid/bootstrap.min.js"></script>
<script src="/static/user/js-first-aid/jquery.stellar.min.js"></script>
<script src="/static/user/js-first-aid/jquery.magnific-popup.min.js"></script>
<script src="/static/user/js-first-aid/smoothscroll.js"></script>
<script src="/static/user/js-first-aid/custom.js"></script>

</body>
</html>
