{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section col-md-8 col-md-offset-2">
        <form method="POST">
            {% csrf_token %}
            {{ help_need_form|crispy }}
            <div id="demo">

            </div>
            <button type="button" onclick="getLocation()" class="btn btn-secondary">Locate me</button>

            <button class="btn btn-primary" type="submit" id="submit">Submit</button>

        </form>

    </div>
    <script>

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
            let lat = position.coords.latitude;
            let lon = position.coords.longitude;
            let lat_field = document.getElementById("id_lat");
            let lon_field = document.getElementById("id_lon");
            let address_field = document.getElementById("id_address");
            lat_field.value = lat;
            lon_field.value = lon;

            fetch("https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" + lat + "&lon=" + lon)
                .then((response) => response.json())
                .then((data) => {
                    address_field.value = data.display_name;
                    console.log(data)
                });
        }

    </script>
{% endblock content %}