{% extends "user/base.html" %}
{% load custom_tags %}

{% block title %}
<title>ADMIN Manage Help Post</title>
{% endblock %}


{% block content %}
{% csrf_token %} 
<style>
  .jumbotron.jumbotron-fluid {
    text-align: center;
    background: none;
  }

  .lead {
    font-weight: 350;
    display: inline-grid;
    padding: 25px 30px 25px 30px;
  }

  .submitform {
    margin: auto;
    display: block;
    padding: 10px;
  }

  .btnclass {
    < !-- height: 200px;
    -->< !-- width: 200px;
    -->background-color: yellowgreen;
    position: relative;
  }

  .alist:hover .groupbtn {
    display: block;
  }

  .groupbtn {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .red-button {
  background-color: red;
}

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
  }

  th {
    background-color: #abd4c6;
    border: 1px solid #ddd;
    padding: 8px;
    text-transform: uppercase;
  }

  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .hidden-row {
    display: none;
  }
</style>


<head>
  <link rel="stylesheet" type="text/css" href="/static/user/admin-css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

{% load crispy_forms_tags %}

<div class="section1light">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">

        </div>
      </div>
    </div>
  </div>
</div>
 


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="lead 1" style="text-align:left">Help List</p>
      <button id="show-button" class="btn btn-secondary">Show Hidden</button>
      <table>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Help Class</th>
            <th>Quantity</th>
            <th>Created At</th>
        </tr>
        {% for need in page_obj %}
            <tr id="row-{{ need.helpneedid }}" class="row-item {% if need.hidden %}hidden-row{% endif %}">
                <form action="{% url 'user:delete_help_post' %}" method="post">
                    {% csrf_token %}
                    <td><input type="checkbox" name="selected_ids" value="{{ need.helpneedid }}"></td>
                    <td>{{ need.id }}</td>
                    <td>{{ need.first_name }}</td>
                    <td>{{ need.last_name }}</td>
                    <td>{{ need.address }}</td>
                    <td>{{ need.help_class }}</td>
                    <td>{{ need.quantity }}</td>
                    <td>{{ need.created_at | prettydate }}</td>
                </form>
                <td><button class="btn btn-secondary hide-button" data-row-id="{{ need.helpneedid }}">Hide</button></td>
            </tr>
        {% endfor %}
    </table>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">« first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current-page">{{ page_obj.number }}</span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last »</a>
            {% endif %}
        </span>
    </div>
    
    
      <form action="{% url 'user:delete_help_post' %}" method="post" id="delete-selected-form">
        {% csrf_token %}
        <input type="hidden" name="selected_ids" id="selected-ids-input">
        <button type="button" class="btn btn-danger" id="delete-selected-button">Delete Selected</button>
       </form>
       
    </div>

  </div>
</div>



<script>

const hideButtons = document.querySelectorAll('.hide-button');


hideButtons.forEach((button) => {
 button.addEventListener('click', () => {
 
 const rowId = button.getAttribute('data-row-id');

 
 $.ajax({
 url: '{% url 'user:hide_help_post' %}',
 method: 'POST',
 data: {
 csrfmiddlewaretoken: csrfToken,
 helpneedid: rowId,
 },
 success: (data) => {
 
 
 const row = document.getElementById(`row-${rowId}`);
 row.style.display = 'none';
 },
 error: (jqXHR, textStatus, errorThrown) => {
 console.error(`Error hiding record: ${errorThrown}`);
 },
 });
 });
});
</script>

<script>
  
const showButton = document.getElementById('show-button');


showButton.addEventListener('click', () => {
 
 const hiddenRows = document.querySelectorAll('.row-item');

 
 const hiddenIds = Array.from(hiddenRows).map((row) => row.getAttribute('id').replace('row-', ''));

 
 $.ajax({
 url: '{% url 'user:show_help_post' %}',
 method: 'POST',
 data: {
 csrfmiddlewaretoken: csrfToken,
 helpneedids: hiddenIds,
 },
 success: (data) => {
  console.log('AJAX request succeeded');
 
 
 hiddenRows.forEach((row) => {
  console.log(`Showing row: ${row.id}`);
  row.classList.remove('hidden-row');
 });
 },
 error: (jqXHR, textStatus, errorThrown) => {
 
 
 console.error(`Error showing records: ${errorThrown}`);
 },
 });
});
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  
  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  
  
  const deleteSelectedButton = document.getElementById('delete-selected-button');
  
  
  deleteSelectedButton.addEventListener('click', () => {
   
   const selectedCheckboxes = document.querySelectorAll('input[name="selected_ids"]:checked');
  
   
   const selectedIds = Array.from(selectedCheckboxes).map((checkbox) => checkbox.value);
  
   
   $.ajax({
   url: '{% url 'user:delete_help_post' %}',
   method: 'POST',
   data: {
   csrfmiddlewaretoken: csrfToken,
   selected_ids: selectedIds,
   },
   success: (data) => {
   
   
   selectedIds.forEach((id) => {
   const row = document.getElementById(`row-${id}`);
   row.remove();
   });
   },
   error: (jqXHR, textStatus, errorThrown) => {
   
   console.error(`Error deleting objects: ${errorThrown}`);
   },
   });
  });
  </script>
  
  

{% endblock %}
