{% extends "user/base.html" %}
{% block title %}
        <title>Register page</title>
    {% endblock %}
{% block content %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 10px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin-top: 25px;
            display: block;
            align-items: center;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

    </head>
    <body class="text-center">

    {% load crispy_forms_tags %}

    <main class="form-signin">
        <form method="POST">

            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary" type="submit">Register</button>
            {{ request.path }}
        </form>
    </main>

{% endblock %}
</body>
</html>
