
{% extends "user/base.html" %}
{% load custom_tags %}


{% block title %}
    <title>Disaster Recovery Website Hompage</title>
{% endblock %}


{% block content %}
<style>
.jumbotron.jumbotron-fluid{
    text-align: center;
    background: none;
}
.lead{
    font-weight: 350;
    display: inline-grid;
    padding: 25px 30px 25px 30px;
}
.submitform{
    margin: auto;
    display: block;
    padding: 10px;
}
.btnclass {
<!--  height: 200px;-->
<!--  width: 200px;-->
  background-color: yellowgreen;
  position: relative;
}

.alist:hover .groupbtn {
  display: block;
}
.groupbtn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

th {
  background-color: #abd4c6;
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: uppercase;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
    </style>

{% load crispy_forms_tags %}
<!--<h5>// This is Help-provider Homepage</h5>-->
    <div class="section1light">
         <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">Your Help Is Appreciated</h1>
<!--                    <p class="lead 1" style="text-align:left">Provide Food</p>-->
<!--&lt;!&ndash;                    <p class="lead 2" style="text-align:center">Provide Transportation</p>&ndash;&gt;-->
<!--                    <p class="lead 3" style="text-align:right">Provide Shelter</p>-->
                  </div>
                </div>
            </div>
        </div>
   </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <p class="lead 1" style="text-align:left">Help List</p>

        <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
<!--      <th>Phone</th>-->
      <th>Address</th>
      <th>Help Class</th>
      <th>Quantity</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
    {% for need in needs %}
      <tr id="hiderow">
        <td>{{ need.id }}</td>
        <td>{{ need.first_name }}</td>
        <td>{{ need.last_name }}</td>
<!--        <td>{{ need.phone }}</td>-->
        <td>{{ need.address }}</td>
        <td>{{ need.help_class }}</td>
        <td>{{ need.quantity }}</td>
        <td>{{ need.created_at | prettydate }}</td>
<!--        <td> <button onclick="displayQuantityForm()">Help 1 </button>-->
<!--            <div id="formContainer"></div>-->

<!--        </td>-->
        <td>  <a class="btn btn-primary" href="{% url 'user:change_status' pk=need.pk %}" role="button" onclick="hide()">Help</a> </td>
      </tr>
      {% endfor %}

   </table>
   {% if needs.has_other_pages %}
        <div class="pagination">
          <span class="step-links">
            {% if needs.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ needs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
              Page {{ needs.number }} of {{ needs.paginator.num_pages }}.
            </span>

            {% if needs.has_next %}
              <a href="?page={{ needs.next_page_number }}">next</a>
              <a href="?page={{ needs.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% endif %}



<!--       <div class="list-group">-->
<!--         {% for need in needs %}-->
<!--          <a href="#" class="list-group-item list-group-item-action alist" aria-current="true">-->
<!--              <div class="row">-->
<!--    <div class="col-sm-9">-->
<!--            <div class="d-flex w-100 justify-content-between">-->
<!--              <h5 class="mb-1"> {{ need.first_name }} </h5>-->
<!--                <h5 class="mb-1"> {{ need.last_name }} </h5>-->
<!--&lt;!&ndash;                <a href='{{ instance.get_absolute_url }}'></a>&ndash;&gt;-->
<!--              <small>{{ need.created_at | prettydate }}</small>-->
<!--            </div>-->
<!--            <p class="mb-1">{{ need.phone }}</p>-->
<!--            <p class="mb-1">{{ need.help_class }}</p>-->
<!--            <small> {{ need.address }}</small>-->
<!--        </div>-->
<!--                  <div class="col-sm-3">-->
<!--                      <form action="" method="post">-->
<!--              <div class="btn-group btnclass" role="group" aria-label="Basic example">-->



<!--                  <button type="button" class="btn btn-secondary groupbtn">Help</button>-->
<!--                  <button type="button" class="btn btn-secondary groupbtn">Delete</button>-->

<!--              </div>-->
<!--                          </form>-->
<!--                  </div>-->
<!--        </div>-->
<!--          </a>-->
<!--                 {% endfor %}-->
<!--        </div>-->

    </div>

  </div>
</div>

<!--{% load crispy_forms_tags %}-->
<!--    <div class="section1light">-->
<!--         <div class="row">-->
<!--            <div class="col-sm-12">-->
<!--                <div class="jumbotron jumbotron-fluid">-->
<!--                  <div class="container">-->
<!--                    <h1 class="display-4">How To Volunteer </h1>-->
<!--                    <p class="lead 1" style="text-align:left">Provide Food</p>-->
<!--                    <p class="lead 2" style="text-align:center">Provide Transportation</p>-->
<!--                    <p class="lead 3" style="text-align:right">Provide Shelter</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--   </div>-->

<!--    <form method="POST" action="">-->
<!--     {{ volunteer_form|crispy }} {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button class="btn btn-primary submitform" type="submit">Submit Form</button>-->
<!--     </form>-->

<script>
                let fname = document.getElementById("id_first_name");
                fname.value = "{{ user.first_name }}";

                let lname = document.getElementById("id_last_name");
                lname.value = "{{ user.last_name }}";

                let username = document.getElementById("id_username");
                username.value = "{{ user.username }}";

                let email = document.getElementById("id_email");
                email.value = "{{ user.email }}";

                let phone = document.getElementById("id_phone");
                phone.value = "{{ obj.phone }}";


<!--function displayQuantityForm() {-->
<!--{% load crispy_forms_tags %}-->
<!--  var form = ' {{ quantityForm|crispy }} {% csrf_token %} {{ form.as_p }} ';-->
<!--  var formContainer = document.getElementById("formContainer");-->
<!--  formContainer.innerHTML = form;-->

<!--}-->

<!--function hide() {-->
<!--  var row = document.getElementById("hiderow");-->
<!--  row.style.display = "none";-->
<!--}-->



<!--function help() {-->
<!--    if (!need.is_helped) {-->
<!--        need.is_helped.value = True;-->
<!--        console.log("Thank You For Your Help")-->
<!--    }-->
<!--  }-->

</script>

{% endblock %}
